* {
	font-family: sans-serif;
}

#mainTitle {
	background-color: lightblue;
	color: darkblue;
	border: 0.05em solid darkblue;
}

.issText {
	background-color: lightblue;
	border: 0.1em solid darkblue;
	width: 100%;
	padding: 1em;
}

.issLocation {
	color: darkblue;
	font-style: italic;
	font-weight: bold;
}

.announcement {
	position: relative;
	background-color: lightblue;
	border: 0.1em solid darkblue;
	padding: 1em;
	/*display: block;*/
	width:100%;
}

.styleBtn {
	position: absolute;
	right: 1%;
	top: 1%;
	border: none;
	color: white;
	background-color: darkblue;
}

#btnShow {
	display: none;
}

img {
	max-width: 100%;
	cursor: pointer;
}

ul {
	list-style: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgba(0, 0, 0, 0.75);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlayHide {
	display: none;
}

.imageCaption {
	color: white;
}

.ex3 {
	background-color: lightblue;
	border: 0.1em solid darkblue;
	padding: 0.5em;
}

.ex3 aside form {
	padding: 0.1em;
}