/* Write your code here */

.announcement {
	position: relative;
	background-color: lightblue;
	border: 0.1em solid darkblue;
	padding: 1em;
}

.styleBtn {
	position: absolute;
	left: 95%;
	top: 5%;
	border: none;
	color: white;
	background-color: darkblue;
}